.friendlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 248, 243);
}

.friendlist_item {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: rgb(220, 252, 189);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.friendlist_online {
  display: block;
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.friendlist_ofline {
  display: block;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.friendlist_avatar {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.friendlist_name {
  display: block;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
}
